SECRET_KEY='!#4dl^jj1$@t&8#!fa3f0s_5f(07u*lhf2+##=$$#3^$p46ztc'
ALLOWED_HOSTS=localhost, web
CSRF_TRUSTED_ORIGINS=http://localhost

DB_ENGINE=django.db.backends.postgresql
DB_HOST=db
DB_PORT=5432
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
