SECRET_KEY='!#4dl^jj1$@t&8#!fa3f0s_5f(07u*lhf2+##=$$#3^$p46ztc'
ALLOWED_HOSTS=localhost, 127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost, http://127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

TELEGRAM_BOT_TOKEN=telegram_bot_token
